
- if current_user.admin? && @filial.matriz?
  %li.nav-item
    .dropdown.dropright
      %a.nav-link#dropdownMenuButton.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
        = icon('fas', 'plus-square')
        Cadastros

      .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
        %a.dropdown-item{href: filial_users_path(current_filial)}
          = icon('fas', 'users')
          %span.ms-1 Usuários

        %a.dropdown-item{href: filials_path()}
          = icon('fas', 'store')
          %span.ms-1 Almoxarifados

  %hr.bg-white
  
  -# %li.nav-item
  -#   %a{href: filial_machines_path(current_filial), class: 'nav-link'}
  -#     = icon('fas', 'tractor')
  -#     %span.ms-1
  -#       %b Equipamentos

%li.nav-item
  %a{href: filial_products_path(current_filial), class: 'nav-link'}
    = icon('fas', 'boxes')
    %span.ms-1
      %b Produtos        

%li.nav-item
  %a{href: filial_sales_path(current_filial), class: 'nav-link'}
    = icon('fas', 'cart-arrow-down')
    %span.ms-1
      %b Baixas

%li.nav-item
  %a{href: filial_expenses_path(current_filial), class: 'nav-link'}
    = icon('fas', 'dollar-sign')
    %span.ms-1
      %b Despesas

%li.nav-item
  %a{href: filial_destinations_path(current_filial), class: 'nav-link'}
    = icon('fas', 'map-pin')
    %span.ms-1
      %b Destinações
