.card.card-body
  = form_for [@filial, @damaged_item] do |f|
    = render 'shared/errors_form', model: @damaged_item

    .row
      .form-group.col-lg-4
        = f.label :title, "Produto"
        = f.text_field :title, class: "form-control"
      .form-group.col-lg-4
        = f.label :delivered_by, "Entregue por"
        = f.text_field :delivered_by, class: "form-control"
      .form-group.col-lg-8
        = f.label :obs, "Observação"
        = f.text_area :obs, class: "form-control", rows: 4

    .row
      .form-group.col-lg-3.mt-2
        = f.submit "Salvar", class: "btn btn-success text-white" 