.card.card-body
  = form_for @user do |f|
    .row
      .form-group.col-lg-3
        = f.label :name, "Nome"
        = f.text_field :name, class: "form-control"
    .row
      .form-group.col-lg-3
        = f.label :password, "Senha"
        = f.text_field :password, class: "form-control"
      .form-group.col-lg-3
        = f.label :password_confirmation, "Confirmação de Senha"
        = f.text_field :password_confirmation, class: "form-control"

    .row
      .form-group.col-lg-3.mt-2
        = f.submit "Salvar", class: "btn btn-success text-white" 