.card.card-body
  .h3 Buscar Produto
  = render 'products/filter'

.row
  .col-lg-6
    .card.card-body
      .row
        .h3.col-10 Ultimas Baixas
        .col-2
          = link_to new_filial_sale_path(@filial), class: 'float-end mb-2' do
            = icon('fas fa-2x', 'plus-square')
      = render 'sales/table_sales', text_small: true

  .col-lg-6
    .card.card-body
      .row
        .h3.col-10 Ultimas Despesas
        .col-2 
          = link_to new_filial_expense_path(@filial), class: 'float-end mb-2' do
            = icon('fas fa-2x', 'plus-square')
      
      = render 'expenses/table_expenses', text_small: true

- if super_user?
  .row
    .col-12
      .card.card-body
        .row
          .h3.col-8 Quadro Geral
          .col-4
            = form_with url: root_path, method: :get, html: { class: ''} do |f|
              .row
                .form-group.col-5.ps-0
                  %label Data Início
                  = f.text_field "resume[date_dategteq]", class: 'form-control', type: 'date', value: params[:resume][:date_dategteq]

                .form-group.col-5.ps-0
                  %label Data Final
                  = f.text_field "resume[date_datelteq]", class: 'form-control', type: 'date', value: params[:resume][:date_datelteq]

                .form-group.col-2.mt-4.m-0.p-0
                  %button.btn.btn-primary.col.h-100{type:"submit"}
                    = icon("fas fa-2x", "filter")

        .row
          - @filials.each do |filial_name, sales|
            :ruby
              sale_products = filial_sales_graph(sales, params[:resume])
              # categories = category_sales_graph(sales, params[:resume])
            
            - if sale_products.any?
              .col-12
                %b= filial_name
                = bar_chart sale_products, colors: ['#fc3939'], title: "Baixas", messages: { empty: "Sem Baixas no Período" }
              -# .col-12
              -#   = column_chart categories, colors: ['#fc3939'], title: "Categorias", messages: { empty: "Sem Baixas no Período" }
