<p style="color: green"><%= notice %></p>

<%= render @filial %>

<div>
  <%= link_to "Edit this filial", edit_filial_path(@filial) %> |
  <%= link_to "Back to filials", filials_path %>

  <%= button_to "Destroy this filial", @filial, method: :delete %>
</div>
