.col-lg-12
  .col.text-center
    %h2.text-dark
      = "Paralelos de #{@item.name}"

= link_to new_filial_machine_item_similar_path(@filial, @machine, @item), class: 'float-end mb-2' do
  %btn.btn.btn-outline-primary
    = icon('fas', 'plus-square')
    = "Novo Paralelo"

%table.table.table-striped.table-sm
  %thead
    %tr
      %th.text-center
        %b Nome
      %th.text-center
        %b Descrição
      %th
  %tbody
    - @similars.each do |similar|
      %tr
        %td.text-center= similar.name
        %td.text-center= similar.description.truncate(50)

        %td.text-right
          = link_to edit_filial_machine_item_similar_path(@filial, @machine, @item, similar), class: 'text-info' do
            = icon("fas fa-2x", "edit")

          .d-none.d-lg-inline= "|"

          = link_to filial_machine_item_similar_path(@filial, @machine, @item, similar), class: 'text-danger', method: :delete, data: {confirm: "Você tem certeza que deseja remover o Produto?"} do
            = icon("fas fa-2x", "trash")
            
          