.col-lg-12
  .col.text-center
    %h2.text-dark
      = "Destinações"

.row.mb-2
  .col-2
    = render 'filter'
    
  .col-lg-10
    = link_to new_filial_destination_path(@filial), class: 'float-end mb-2' do
      %btn.btn.btn-outline-primary
        = icon('fas', 'plus-square')
        = "Nova Destinação"

%table.table.table-striped.table-sm
  %thead
    %tr
      %th.text-center
        %b Nome
      %th.text-center
        %b Operador
      %th.text-center
        %b Observação
      %th
  %tbody
    - @destinations.each do |destination|
      %tr
        %td.text-left= destination.name
        %td.text-center= destination.operador
        %td.text-center= destination.address
        %td.text-center
          = link_to edit_filial_destination_path(@filial, destination), class: 'text-info' do
            = icon("fas fa-2x", "edit")

          .d-none.d-lg-inline= "|"

          = link_to filial_destination_path(@filial, destination), class: 'text-danger', method: :delete, data: {confirm: "Você tem certeza que deseja remover a Destinação?"} do
            = icon("fas fa-2x", "trash")

.col-lg-12
  .d-flex.justify-content-center{style: "margin-top: 20px"}
    %nav
      %ul.pagination
        %li.page-item
          = link_to_prev_page @destinations, 'Anterior', class: "page-link"
        %li.page-item
          = link_to_next_page @destinations, 'Próxima', class: "page-link"                     
          