<div id="<%= dom_id expense %>">
  <p>
    <strong>Title:</strong>
    <%= expense.title %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= expense.value %>
  </p>

  <p>
    <strong>Obs:</strong>
    <%= expense.obs %>
  </p>

  <p>
    <strong>Filial:</strong>
    <%= expense.filial_id %>
  </p>

</div>
