.dropdown
  %button#dropdownMenuButtonTwo.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
    =icon('fas', 'search')
    Filtrar

  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButtonTwo"}
    = search_form_for @q, url: filial_expenses_path(@filial), html: { class: 'px-4 py-3'} do |f|
      .form-group
        %label Título
        = f.search_field :title_cont, class: "form-control", placeholder: 'Título'

      .form-group
        %label Data Início
        = f.search_field :date_dategteq, class: 'form-control', type: 'date', value: @q.date_dategteq.present? ? @q.date_dategteq.strftime('%Y-%m-%d') : nil

      .form-group.mb-2
        %label Data Final
        = f.search_field :date_datelteq, class: 'form-control', type: 'date', value: @q.date_datelteq.present? ? @q.date_datelteq.strftime("%Y-%m-%d") : nil

      = f.submit class: "btn btn-primary", value: "Filtrar"

      - if params[:q].present?
        = link_to request.path, class:"btn btn-default float-end" do
          = icon('fas', 'window-close')
          Limpar Filtros
