.col-lg-12
  .col.text-center
    %h2.text-dark
      = "Despesas"

= link_to new_filial_expense_path(@filial), class: 'float-end mb-2' do
  %btn.btn.btn-outline-primary
    = icon('fas', 'plus-square')
    = "Nova Despesa"

.row.mb-2
  .col-2
    = render 'filter'

= render 'table_expenses'

.col-lg-12
  .d-flex.justify-content-center{style: "margin-top: 20px"}
    %nav
      %ul.pagination
        %li.page-item
          = link_to_prev_page @expenses, 'Anterior', class: "page-link"
        %li.page-item
          = link_to_next_page @expenses, 'Próxima', class: "page-link"            