.col-lg-12
  .col.text-center
    %h2.text-dark
      = "Despesas"

= link_to new_filial_expense_path(@filial), class: 'float-end mb-2' do
  %btn.btn.btn-outline-primary
    = icon('fas', 'plus-square')
    = "Nova Despesa"

%table.table.table-striped.table-sm
  %thead
    %tr
      %th.text-center
        %b Titulo
      %th.text-center
        %b Valor
      %th.text-center
        %b Data
      %th
  %tbody
    - @expenses.each do |expense|
      %tr
        %td.text-left= expense.title
        %td.text-center
          = number_to_currency(expense.value, unit: "R$ ", separator: ",", delimiter: "")
        %td.text-center= expense.date.strftime("%d/%m/%y")

        %td.text-right
          = link_to edit_filial_expense_path(@filial, expense), class: 'text-info' do
            = icon("fas", "edit")

          .d-none.d-lg-inline= "|"

          = link_to filial_expense_path(@filial, expense), class: 'text-danger', method: :delete, data: {confirm: "Você tem certeza que deseja remover a Despesa?"} do
            = icon("fas", "trash")