.col-lg-12
  .col.text-center
    %h2.text-dark
      = "Despesas"

.row.mb-2
  .col-2
    = render 'filter'

  .col-lg-10
    .row.justify-content-md-end
      .col-2
        = link_to report_filial_expenses_path(@filial, q: (params[:q].to_enum.to_h if params[:q].present?), format: :xlsx) do
          %btn.btn.btn-outline-info.d-flex.justify-content-center
            .justify-content-center.align-self-center
              = icon('fas', 'file-excel')
              = "Relatório"
      
      .col-2
        = link_to new_filial_expense_path(@filial), class: 'float-end' do
          %btn.btn.btn-outline-primary
            = icon('fas', 'plus-square')
            = "Nova Despesa"


= render 'table_expenses'

.col-lg-12
  .d-flex.justify-content-center{style: "margin-top: 20px"}
    %nav
      %ul.pagination
        %li.page-item
          = link_to_prev_page @expenses, 'Anterior', class: "page-link"
        %li.page-item
          = link_to_next_page @expenses, 'Próxima', class: "page-link"            