.card.card-body
  = form_for [@filial, @machine] do |f|
    = render 'shared/errors_form', model: @machine

    .row
      .form-group.col-lg-4
        = f.label :name, "Nome"
        = f.text_field :name, class: "form-control"
      .form-group.col-lg-6
        = f.label :reference, "Referência"
        = f.text_field :reference, class: "form-control"

    .row
      .form-group.col-lg-3.mt-2
        = f.submit "Salvar", class: "btn btn-success text-white" 