.card.card-body
  = form_for [@filial, @product] do |f|
    = render 'shared/errors_form', model: @product

    .row
      .form-group.col-lg-5
        = f.label :name, "Nome"
        = f.text_field :name, class: "form-control", autocomplete: "off"
      .form-group.col-lg-5
        = f.label :reference, "Referência"
        = f.text_field :reference, class: "form-control", autocomplete: "off"
      .form-group.col-lg-2
        = f.label :quantity, "Quantidade"
        = f.number_field :quantity, class: "form-control", autocomplete: "off", readonly: @product.persisted?
      .form-group.col-lg-3
        = f.label :code, "Código"
        = f.text_field :code, class: "form-control", readonly: !(super_user?), autocomplete: "off"
      .form-group.col-lg-2
        = f.label :location, "Localização"
        = f.text_field :location, class: "form-control", oninput: "this.value = this.value.toUpperCase()", autocomplete: "off"

    .row
      .form-group.col-lg-3.mt-2
        = f.submit "Salvar", class: "btn btn-success text-white" 