.card.card-body
  = form_for @filial_new_products, url: create_products_filial_products_path(@filial) do |f|
    %h3 Produtos

    #products
      = f.fields_for :products do |product|
        = render 'product_fields', f: product
      
    .row
      .form-group.col-lg-2.mt-4
        = link_to_add_association f, :products, class: 'btn btn-lg btn-outline-info col' do
          = icon('fa', 'plus-circle')
          = 'Adicionar'

      .form-group.col-lg-2.mt-4
        = f.submit "Salvar", class: "btn btn-lg btn-success text-white col" 