.card.card-body
  %h3 Produtos

  #products{"ng-app": "nobre", "ng-controller": "ProductsController", "ng-init": "getProducts(#{@filial.id});"}
    .col-12{'ng-repeat': "product in newProducts"}
      = render 'product_fields'

    .form-group.col-lg-2.mt-4
      = link_to "javascript:void(0)", "ng-click": "addMore()", class: 'btn btn-lg btn-outline-info col'do
        = icon('fa', 'plus-circle')
        = 'Adicionar'

    .form-group.col-lg-2.mt-4
      %button.btn.btn-lg.btn-success.text-white.col{"ng-click": "save()"}
        = "Salvar"
