%tr{class: product.filial_id == @filial.id ? '' : 'product-other-filial'}
  %td.text-center= product.code
  %td.text-left= product.name
  %td.text-left= product.reference
  
  %td.text-center
    - if current_user.admin? || product.filial_id == @filial.id
      = product.quantity
    - else
      = "-"
    
  %td.text-center
    - if product.filial_id == @filial.id
      = product.location
    - else
      = product.filial_name

  %td.text-right
    - if product.filial_id == @filial.id
      - if current_user.admin?
        = link_to edit_filial_product_path(@filial, product), class: 'text-info' do
          = icon("fas fa-2x", "edit")

        .d-none.d-lg-inline= "|"

        = link_to filial_product_path(@filial, product), class: 'text-danger', method: :delete, data: {confirm: "Você tem certeza que deseja remover o Produto?"} do
          = icon("fas fa-2x", "trash")
      - else
        = link_to edit_limited_filial_product_path(@filial, product), class: 'text-info' do
          = icon("fas fa-2x", "edit")