.col-lg-12
  .col.text-center
    %h2.text-dark
      = "#{@product.name}"

.col-lg-12.row
  .col-lg-10
    = render 'form_edit'
  
  .col-lg-2.p-0
    = render 'show_barcode'


.col-lg-12.row
  - @product.product_prices.each do |price|
    %table.table.table-striped.table-sm
      %thead
        %tr
          %th.text-center
            %b Data da Entrada
          %th.text-center
            %b Preço
          %th.text-center
            %b Quantidade
          %th.text-center
      %tbody
        %tr
          %td.text-center
            = price.created_at.strftime("%d/%m/%Y")
          %td.text-center
            = number_to_currency(price.price, unit: "R$ ", separator: ",", delimiter: "")
          %td.text-center
            = price.quantity
          %td.text-center
            = link_to edit_filial_product_product_price_path(@filial, @product, price), class: 'text-success', "data-toggle": "tooltip", "data-placement": "top", title: "Editar Valores" do
              = icon("fas fa-2x", "edit")