.col-lg-12
  .col.text-center
    %h2.text-dark
      = "Produtos"


.row.mb-2
  .col-lg-9
    = render 'filter'

  .col-lg-3
    .row
      - if current_user.admin? && @filial.matriz?
        = link_to new_filial_product_path(@filial), class: 'col-lg-6' do
          %btn.btn.btn-outline-primary.d-flex.justify-content-center.h-100
            .justify-content-center.align-self-center
              = icon('fas', 'plus-square')
              = "Entrada de Produtos"

      = link_to entrances_filial_products_path(@filial), class: 'col-lg-6' do
        %btn.btn.btn-outline-success.col
          = icon('fas', 'plus-square')
          = "Receber Mercadoria"


%table.table.table-striped.table-sm
  %thead
    %tr
      %th.text-center
        %b Código
      %th.text-center
        %b Produto
      %th.text-center
        %b Quantidade
      %th.text-center
        %b Localização
      %th
  %tbody
    - @scope.each do |code, products|
      - products.select{|p| p.filial_id == @filial.id }.each do |product|
        = render 'tr_products', product: product
      - products.select{|p| p.filial_id != @filial.id }.each do |product|
        = render 'tr_products', product: product

.col-lg-12
  .d-flex.justify-content-center{style: "margin-top: 20px"}
    %nav
      %ul.pagination
        %li.page-item
          = link_to_prev_page @products, 'Anterior', class: "page-link"
        %li.page-item
          = link_to_next_page @products, 'Próxima', class: "page-link"