.dropdown
  %button#dropdownMenuButtonTwo.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
    =icon('fas', 'search')
    Filtrar

  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButtonTwo"}
    = search_form_for @q, url: filial_sales_path(@filial), html: { class: 'px-4 py-3'} do |f|
      .form-group
        %label Categoria
        = f.select :category_id_eq, options_for_select(@categories, @q.category_id_eq), { include_blank: 'Selecione..' }, class: "form-control"

      .form-group
        %label Tipo
        = f.select :products_category_eq, t_enum_value_collection(Product, :category), { include_blank: 'Selecione..' }, class: "form-control"

      .form-group
        %label Código do Produto
        = f.search_field :products_product_code_eq, class: "form-control", placeholder: 'Código do Produto'

      .form-group
        %label Produto
        = f.search_field :products_name_i_cont, class: "form-control", placeholder: 'Produto'

      .form-group
        %label Destinação
        = f.search_field :destination_name_or_destination_filial_name_i_cont, class: "form-control", placeholder: 'Destinação'

      .form-group
        %label Data Início
        = f.search_field :date_dategteq, class: 'form-control', type: 'date', value: @q.date_dategteq.present? ? @q.date_dategteq.strftime('%Y-%m-%d') : nil

      .form-group
        %label Data Final
        = f.search_field :date_datelteq, class: 'form-control', type: 'date', value: @q.date_datelteq.present? ? @q.date_datelteq.strftime("%Y-%m-%d") : nil

      .form-group.mt-2
        = f.submit class: "btn btn-primary", value: "Filtrar"

        - if params[:q].present?
          = link_to request.path, class:"btn btn-default float-end" do
            = icon('fas', 'window-close')
            Limpar Filtros

