.col-lg-12
  .row
    .col-lg-7
      .card.card-body
        = form_for [@filial, @sale], url: "#" do |f|
          = render 'shared/errors_form', model: @sale

          .col-lg-12
            .col-lg-12
              %label Buscar
              %input.form-control.col#searchProduct{"ng-model": "product.fullname", placeholder: 'Produto'}
            
            %ul.list-group.list-group-flush.col-lg-10{"ng-show": "product.fullname.length > 0"}
              %li.list-group-item.pt-2.line-height-25{"ng-repeat": "product in products | filter: product"}
                .item{"ng-click": "setProduct(product)"}
                  .col= "{{product.codename}}"
                  .col
                    %small
                      %b= "{{product.product_code}}"
                      ="/"
                      = "{{product.code}}"

          %hr.mt-5

          .row
            %h2.mt-3 Destinação
            .form-group.col-lg-6
              = f.label :destination_id, "Destinação"
              = f.select :destination_id, options_for_select(@destinations, @sale.destination_id), { include_blank: "Selecione.." }, class: "form-control", "ng-model": "destination_id", "ng-init": "destination_id = '#{@sale.destination_id || ''}'", readonly: @sale.persisted?, disabled: @sale.persisted?
            .form-group.col-lg-6
              = f.label :destination_filial_id, "Filial"
              = f.select :destination_filial_id, options_for_select(@destinations_filials, @sale.destination_filial_id), { include_blank: "Selecione.." }, class: "form-control", "ng-model": "destination_filial_id", "ng-init": "destination_filial_id = '#{@sale.destination_filial_id || ''}'", readonly: @sale.persisted?, disabled: @sale.persisted?
            .form-group.col-lg-6
              = f.label :category_id, "Categoria"
              = f.select :category_id, options_for_select(@categories, @sale.category_id), { include_blank: false }, class: "form-control", "ng-model": "category_id"
            .form-group.col-lg-6
              = f.label :date, "Data da Baixa"
              = f.date_field :date, class: "form-control", "ng-model": "date"

          .row
            %h2.mt-3 Observação
            .form-group.col-lg-12
              = f.text_area :obs, class: "form-control", rows: 4

    .col-lg-5
      .card.card-body
        .col-lg-12
          %h4 Produtos no Caixa

        .col-lg-12
          %ul.list-group
            %li.list-group-item.px-1.line-height-25{"ng-repeat": "product in selectedProducts"}
              .item
                %small.row
                  .col-9.text-truncate
                    .col
                      = "{{product.codename}}"
                    = "{{product.product_code}}"
                    = "/"
                    = "{{product.code}}"
                  .col-3.p-0.text-center
                    %input.form-control-sm.col-6{"id": "qdt_{{product.id}}" , "ng-model": "product.qtd_to_sale", "ng-change": "checkNumber(product)", max: "{{product.quantity}}", min: '1', type: :number}

                    %button.btn-sm.btn-danger{"ng-click": "removeProduct(product)"}
                      = icon('fas text-white', 'trash')
        .row{"ng-show": "destination_id || destination_filial_id"}
          .form-group.col-lg-12.mt-2
            %button.btn.btn-success.text-white.col{"ng-click": "saveSale()"}
              Salvar

