%table.table.table-striped.table-sm.table-responsive
  %thead
    %tr
      -# - unless text_small
      -#   %th.text-center
      -#     %b Categoria
      
      %th.text-center
        - if text_small
          %b Qtd
        - else
          %b Quantidade de Itens

      %th.text-center
        %b Produtos
      

      - unless text_small
        %th.text-center
          %b Destinação

      %th.text-center
        %b Data
      %th.text-center
  %tbody
    - @sales.each do |sale|
      %tr
        -# - unless text_small
        -#   %td.text-center
        -#     %b= sale.category_title
        %td.text-center= sale.quantity_of_items
        %td.text-left.text-truncate
          = truncate(sale.products_name, length: (text_small ? 30 : 75), omission: '...')
        
        - unless text_small
          %td.text-left= sale.destination_name
        
        %td.text-center= sale.date.strftime("%d/%m/%y")
        %td.text-center
          - if sale.open? || sale.partial?
            = link_to edit_filial_sale_path(@filial, sale), class: 'text-info' do
              = icon("fas fa-2x", "edit")

            .d-none.d-lg-inline= "|"
            
            = link_to filial_sale_path(@filial, sale), class: 'text-danger', method: :delete, data: {confirm: "Você tem certeza que deseja remover a Baixa?"} do
              = icon("fas fa-2x", "trash")
          - else
            = link_to consult_filial_sale_path(@filial, sale), class: 'text-success', "data-toggle": "tooltip", "data-placement": "top", title: "Consultar" do
              = icon("fas fa-2x", "check-double")      

          - if super_user?
            .d-none.d-lg-inline= "|"

            = link_to filial_sale_path(@filial, sale), class: 'text-danger', method: :delete, data: {confirm: "Você tem certeza que deseja remover a Baixa?"} do
              = icon("fas fa-2x", "trash")
