.col-lg-12
  .col.text-center
    %h2.text-dark
      = "Baixa ##{@sale.id}"

%div{"ng-app": "nobre", "ng-controller": "SalesController", "ng-init": "getProducts(#{@filial.id}); getSale(#{@filial.id}, #{@sale.id})"}
  = render 'form'
