.col-lg-12
  .col.text-center
    %h2.text-dark
      = "Entrada de Produtos"

%table.table.table-striped.table-sm
  %thead
    %tr
      %th.text-center
        %b Quantidade de Itens
      %th.text-center
        %b Data
      %th
  %tbody
    - @sales.each do |sale|
      %tr
        %td.text-center= sale.quantity_of_items
        %td.text-center= sale.date.strftime("%d/%m/%Y")
        %td.text-center
          = link_to (sale.done? ? "#" : filial_sale_path(@filial, sale)), class: (sale.done? ? 'text-success' : 'text-secondary'), "data-toggle": "tooltip", "data-placement": "top", title: (sale.done? ? "Recebido" : "Verificar Mercadoria") do
            = icon("fas fa-2x", "check-double")