.col-lg-12
  .col.text-center
    %h2.text-dark
      = "Entrada de Produtos"

%table.table.table-striped.table-sm
  %thead
    %tr
      %th.text-center
        %b Produtos
      %th.text-center
        %b Quantidade de Itens
      %th
  %tbody
    - @sales.each do |sale|
      %tr
        %td.text-center= sale.products_name
        %td.text-center= sale.quantity_of_items
        %td.text-right
          -# = link_to (sale.done? ? "#" : filial_sale_path(@filial, sale)), class: (sale.done? ? 'text-success' : 'text-secondary'), "data-toggle": "tooltip", "data-placement": "top", title: "Verificar Mercadoria" do
          = link_to filial_sale_path(@filial, sale), class: (sale.done? ? 'text-success' : 'text-secondary'), "data-toggle": "tooltip", "data-placement": "top", title: "Verificar Mercadoria" do
            = icon("fas fa-2x", "check-double")