.col-lg-12
  .col.text-center
    %h2.text-dark
      = "Baixas"

= link_to new_filial_sale_path(@filial), class: 'float-end mb-2' do
  %btn.btn.btn-outline-primary
    = icon('fas', 'plus-square')
    = "Nova Baixa"

= render 'table_sales'
            
          